Repository bjcscat/lgtm, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, license

.github/labeler.yml:

# Configuration for actions/labeler
# https://github.com/actions/labeler

workflows:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

license:
  - changed-files:
    - any-glob-to-any-file: 'LICENSE*'

Add check for merge conflicts
  .github/workflows/auto-accept.yaml
  .github/workflows/labeler.yaml
Labels: workflows

fix: identify nanuk in ./kitties (#8)
  kitties/nanuk_bathtub.webp
  kitties/nanuk_chair.webp
  kitties/nanuk_keyboard.webp
  kitties/nanuk_palace_pfp.webp
  kitties/nanuk_railing.webp
  kitties/nanuk_sleep.webp
  kitties/nanuk_thinkpad.webp
Labels: none

Add check for merge conflicts (#9)
  .github/workflows/auto-accept.yaml
  .github/workflows/labeler.yaml
Labels: workflows

combine labeler and auto accept
  .github/workflows/auto-accept.yaml
  .github/workflows/labeler.yaml
Labels: workflows

silly
  LICENSE.md
Labels: license

make readme include license exception
  README.md
Labels: none

Adds the best thing to ever be created
  jecs.luau
Labels: none

fix automerge
  .github/workflows/auto-accept.yaml
Labels: workflows

add readme edit
  README.md
Labels: none

add readme edit
  README.md
Labels: none
